*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.application{
    padding-top: 25px;
}
.application h3{
    /* color: red;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 5px;
    text-align: center; */
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 8px;
    color: black;
    font-weight: bold;
    font-family:'Corbert-Medium', sans-serif;;
}
.application h2{
    font-family: 'Corbert-Medium', sans-serif;
    color: black;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
}
.application p{
    color: rgba(75, 73, 73, 0.789);
    padding-top: 25px;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 300;
    font-family: 'Corbert-Medium', sans-serif;
    letter-spacing: 5px;
    text-align: center;
}
.icon-f{
    background-color: red;
    height: 120px;
    width: 100%;
}

.jhanda{
         height:80px;
         width: 54px;
         display: block;
         margin-left: auto;
         margin-right: auto;
         margin-top: 15px;
         padding-top: 30px;
}
.image img{
    height: auto;
    width: 100%;
}
.content h3{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-family: 'Corbert-Medium', sans-serif;
     text-align: center;
    margin-top: 15px;  
}

.gif img{
    padding-top: 60px;
    width: 100%;
}
.strengths{
    padding-top: 60px;
    margin-left: 8%
}

.strengths h1{
    color: red;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Corbert-Medium', sans-serif;
    letter-spacing: 5px;
}
.strengths h2{
    color: black;
    text-transform: capitalize;
    /* font-weight: 300; */
    letter-spacing: 5px;
    padding-top: 15px;
}
.strengths h4{
    line-height: 24px;
    color: rgb(49, 48, 48);
    font-size: 20px;
    font-family: 'Corbert-Medium', sans-serif;
    letter-spacing: 4px;
    font-weight: bold;
    margin-block-start: 0.7em;
    /* color: rgb(77, 75, 75);
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 18px;
    padding-top: 15px; */
}
.strengths h3{
    line-height: 24px;
    color: #373435;
    font-size: 15px;
    margin-top: 1%;
    padding-top: 10px;
    font-family: 'Corbert-Medium', sans-serif;
    letter-spacing: 4px;
    margin-block-start: 0.5em;
}