*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.vision h3{
    /* padding-top: 5%; */
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    font-size: 17px;
    font-family: 'Corbert-Medium', sans-serif;
    letter-spacing: 8px;
    text-align: center;
}

.chairman img{
    margin-top: 12%;
    width: 74%;
    height: 80%;
    margin-left: 15%;
}
.para{
    padding-top: 25px;
    height: 100%;
    width: 100%;
}
.first{
    padding-top: 45px;
}
.para p{
    line-height: 24px;
    color: #373435;
    font-size: 14px;
    font-family: 'Corbert-Medium', sans-serif;
    line-height: 28px;
    margin-right: 15%;
    margin-block-start: 1em;
}
.para h3{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Corbert-Medium', sans-serif;
    color: black;
    letter-spacing:5px;
    text-align: justify;
    line-height: 35px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}