
.logo img{
    width: 125px;
    height: 100px;
}
.address h4{
    padding-top: 30px;
    font-size: 20px;
    font-weight: 300;
    color: black;
}
.qr-code img{
    height: 80px;
    width: 80px;
}
.quicklink{
    padding-top: 48px;
}
.quicklink h4{
    text-transform: uppercase;
}
.products{
    padding-top: 40px;
}
.products h4{
    text-transform: uppercase;
}
.link{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    word-spacing: 5px;
}
.simpolo{
    margin-left: 40%;
}
.enquiry{
    padding-top: 10px;
}
.enquiry :hover{
    text-decoration: underline;
    color: black;
}
.tile{
    padding-top: 10px;
}
.tile :hover{
    text-decoration: underline;
    color: black;
}
.certificate img{
    width: 100%;
    height: auto;
}